<header><h1 class="center">Login Page</h1></header>
<form action="/login" method="post" id="login-form">
  <h3>Login</h3>
  <div class="input-group">
    <input class="login-input" type="email" name="email" placeholder="E-Mail">
  </div>
  <div class="input-group">
    <input class="login-input" type="password" name="password" placeholder="Password">
  </div>
  <button type="submit">Login</button>
</form>
