<header><h1 class="center">Signup Page</h1></header>
<form action="/signup" method="post" id="signup-form">
  <h3>Sign Up</h3>
  <div class="input-group">
    <input class="signup-input" type="text" name="full-name" placeholder="Full Name">
  </div>
  <div class="input-group">
    <input class="signup-input" type="email" name="email" placeholder="E-Mail">
  </div>
  <div class="input-group">
    <input class="signup-input" type="password" name="password" placeholder="Password">
  </div>
  <button type="submit">Sign Up</button>
</form>